[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
requests = "*"
fastapi = "*"
fastapi-sqlalchemy = "*"
pydantic = "*"
alembic = "*"
psycopg2 = "*"
uvicorn = "*"
jinja2 = "*"
aiofiles = "*"

[dev-packages]
flake8 = "*"
ipython = "*"
black = "*"

[requires]
python=3.7

[pipenv]
allow_prereleases = true
