<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FastAPI</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.6.3/dist/css/foundation.min.css" integrity="sha256-ogmFxjqiTMnZhxCqVmcqTvjfe1Y/ec4WaRj/aQPvn+I=" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ url_for('static', path='/css/app.css') }}">
</head>
<body>
<div>
    <header class="header-fixed">
        <div class="header-limiter">
            <h1>
                <a href="#">Company<span>Logo</span></a>
            </h1>
            <nav>
                <a href="#">Home</a>
                <a href="#" class="selected">Blog</a>
                <a href="#">Pricing</a>
                <a href="#">About</a>
                <a href="#">Faq</a>
                <a href="#">Contact</a>
            </nav>
        </div>
    </header>
</div>

<div>
    <form id="form" method="post" action="#">
        <input type="text" id="input">
        <input type="button" id="button" value="Submit">
    </form>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="{{ url_for('static', path='/js/app.js') }}"></script>
</body>
</html>